<!DOCTYPE HTML>
{{if .Site.Language}}
<html lang="{{.Site.Language}}">
{{else}}
<html lang="en">
{{end}}

    {{ partial "head" (dict "Site" .Site "title" .Site.Title) }}

    <body>
        <div class="home-container centered">
            <div class="row">
                <div class="col avatar-container" aria-label="Avatar">
                    <section>
                        <img class="avatar" src="{{ .Site.Params.avatar }}" alt="{{ path.Base .Site.Params.avatar }}">
                    </section>
                </div>
                <div class="col title-container bio-align">
                    <section aria-label="Biography">
                        <h3 aria-label="Name">{{ .Site.Params.author }}</h3>
                        <p class="reset-margin" title="About" aria-label="About">
                            {{ .Content }}
                        </p>
                    </section>
                </div>
            </div>

            <div class="row col">
                <section aria-label="Contact">
                    <div class="icons autocenter" aria-label="Links">
                        <h4 aria-label="Link Icons">
                        {{ with .Site.Params.email }}
                            <a class="icon" href="mailto:{{ . }}" target="_blank" rel="noopener me">
                                <i class="fas fa-envelope" title="email" aria-label="Send email."></i>
                            </a>
                        {{ end }}
                        {{ range $contact_key, $contact_link := .Site.Params.contact }}
                            <a class="icon" href="{{ $contact_link }}" target="_blank" rel="noopener me">
                                <i class="fab fa-{{ $contact_key }}" title="{{ $contact_key }}" aria-label="Go to {{ $contact_key }}."></i>
                            </a>
                        {{ end }}
                        </h4>
                    </div>
                </section>
            </div>
        </div>
    </body>

</html>
